<h1>Listing todos</h1>

<%= format_stats(@stats) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable :description %></th>
      <th><%= sortable :status %></th>
      <th>Reqester</th>
      <th>Assignee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr class="<%= todo.deadline_exceeded? ? "danger" : nil %>">
        <td><%= todo.description %></td>
        <td>
          <span class="label label-<%= if todo.status == 'done' then 'success'; elsif todo.status == 'started' then 'warning'; else 'default' end%>">
            <%= todo.status %>
          </span>
        </td>
        <td><%= todo.requester.try(:name) %></td>
        <td><%= todo.assignee.try(:name) %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @todos, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Todo', new_todo_path %>
